<h2 class="ml-2">
    Doctor view
</h2>
<div class="container card flex flex-row z-1" *ngIf="!operationOngoing; else loading">
    <div *ngIf="viewMode === 'modify'; then modify; else create"></div>
</div>

<ng-template #loading>
    <app-loading-spinner title="Current operation is ongoing..."></app-loading-spinner>
</ng-template>

<ng-template #create>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="firstname">Username</label>
            <input pInputText [(ngModel)]="valueRQ.username" id="doc-rq-username" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="firstname">Firstname</label>
            <input pInputText [(ngModel)]="valueRQ.firstName" id="doc-rq-firstname" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="lastname">Lastname</label>
            <input pInputText [(ngModel)]="valueRQ.lastName" id="doc-rq-lastname" type="text" />
        </div>        
    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="street">E-mail</label>
            <input pInputText [(ngModel)]="valueRQ.email" id="doc-rq-email" type="email" />
        </div>
        <div class="field flex flex-column">
            <label for="street">Specialization</label>
            <p-dropdown styleClass="w-full" [options]="specializations" (onChange)="setSpecialization($event)" [(ngModel)]="selectedSpec" optionLabel="name"></p-dropdown>
        </div>
        <div class="field flex flex-column">
            <label for="phoneNumber">Department ID</label>
            <input pInputText [disabled]="!isSuperadmin()"  [(ngModel)]="valueRQ.departmentId" id="doc-rq-dept-id" type="number" />
        </div>
    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="houseNumber">Password</label>
            <input pInputText [(ngModel)]="valueRQ.password" id="doc-rq-password" type="password" />
        </div>
        <div class="field flex flex-column">
            <label for="apartmentNumber">Confirm password</label>
            <input pInputText [(ngModel)]="valueRQ.passwordConfirmation" id="doc-rq-conf-password" type="password" />
        </div>
        <div class="flex mt-6">
            <div class="flex-grow-1"></div>
            <p-button *ngIf="viewMode == 'modify'" (click)="deleteEntity()" type="button" styleClass="p-button-danger">
                Delete</p-button>
            <p-button *ngIf="viewMode == 'create'" (click)="createEntity()" type="button"
                styleClass="p-button-success">Create</p-button>
        </div>
    </div>
</ng-template>

<ng-template #modify>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="firstname">Doctor UUID</label>
            <input pInputText [(ngModel)]="valueRS.doctorUUID" id="doc-rs-id" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="firstname">Firstname</label>
            <input pInputText [(ngModel)]="valueRS.firstname" id="doc-rs-firstname" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="lastname">Lastname</label>
            <input pInputText [(ngModel)]="valueRS.lastname" id="doc-rs-lastname" type="text" />
        </div>

    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="street">Specialization</label>
            <p-dropdown styleClass="w-full" [options]="specializations" (onChange)="setSpecialization($event)" [(ngModel)]="selectedSpec" optionLabel="name"></p-dropdown>
        </div>
        <div class="field flex flex-column">
            <label for="phoneNumber">Department ID</label>
            <input pInputText [(ngModel)]="valueRS.departmentId" id="doc-rs-dept-id" type="text" />
        </div>
    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="houseNumber">Rate</label>
            <input  pInputText [(ngModel)]="valueRS.rate" id="doc-rs-rate" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="apartmentNumber">Rate number</label>
            <input pInputText [(ngModel)]="valueRS.rateNumber" id="doc-rs-rate-number" type="text" />
        </div>
        <div class="flex mt-6">
            <div class="flex-grow-1"></div>
            <p-button *ngIf="viewMode == 'modify'" (click)="deleteEntity()" type="button" styleClass="p-button-danger">
                Delete</p-button>
            <p-button *ngIf="viewMode == 'create'" (click)="createEntity()" type="button"
                styleClass="p-button-success">Create</p-button>
        </div>
    </div>
</ng-template>