<div class="flex pt-4 mx-5 my-0" *ngIf="currentType?.toLowerCase() !== 'department' && currentMode !== 'modify'">
    <div
        class="flex w-{{ isSuperadmin() ? '0' : '14'}}rem p-0 mr-2 h-3rem border-round-3xl bg-bluegray-100 inside-shadow">
        <!-- <div
            class="flex border-round-3xl w-4rem m-1 p-2 text-center align-items-center justify-content-center transform">
            All</div> -->
        <!-- <div (click)="navigate(viewType.Patient)"
            class="flex border-round-3xl w-6rem m-1 p-2 {{getCurrentButtonStyle(viewType.Patient)}} text-center align-items-center justify-content-center cursor-pointer">
            Patient</div> -->
        <div (click)="navigate(viewType.Doctor)" *ngIf="!isSuperadmin()"
            class="flex border-round-3xl w-6rem m-1 p-2 {{getCurrentButtonStyle(viewType.Doctor)}} text-center align-items-center justify-content-center cursor-pointer">
            Doctor</div>
        <div (click)="navigate(viewType.Receptionist)" *ngIf="!isSuperadmin()"
            class="flex border-round-3xl w-8rem m-1 p-2 {{getCurrentButtonStyle(viewType.Receptionist)}}  text-center align-items-center justify-content-center cursor-pointer">
            Receptionist</div>
    </div>
</div>
<div class="w-full flex-columnh-full flex mt-5 justify-content-center align-items-center">
    <div
        class="flex h-max-full mx-5 p-5 z-1 bg-white shadow-3 border-round-md panel-height justify-content-center align-items-center">
        <app-admin-view *ngIf="currentType?.toLowerCase() == 'admin'"></app-admin-view>
        <app-department-view *ngIf="currentType?.toLowerCase() == 'department'"></app-department-view>
        <app-patient-view *ngIf="currentType?.toLowerCase() == 'patient'"></app-patient-view>
        <app-doctor-view *ngIf="currentType?.toLowerCase() == 'doctor'"></app-doctor-view>
        <app-receptionist-view *ngIf="currentType?.toLowerCase() == 'receptionist'"></app-receptionist-view>
    </div>
</div>

<ng-template #loading>
    <app-loading-spinner title="Loading entity..."></app-loading-spinner>
</ng-template>