<div class="flex justify-content-center h-5rem w-full shadow-3 mb-auto fixed bg-white z-5">
    <div class="navbar">
        <!-- <p-sidebar [(visible)]="sidebar" [baseZIndex]="10000">
            <h3>Left Sidebar</h3>
        </p-sidebar>
        <p-button (click)="sidebar = true" class="navbar-hamburger" icon="pi pi-bars"></p-button> -->
        <img (click)="navigationService.toMainPage()" class="navbar-logo" src="../../../assets/health-check.png"
            alt="health-check-icon" />
        <div (click)="navigationService.toMainPage()" class="navbar-title">Health Check</div>
        <div (click)="navigationService.toAppointmentsFromHeader()"
            *ngIf="roleService.hasRoleReceptionist() || roleService.hasRolePatient() || roleService.hasRoleDoctor()"
            class="navbar-button">Appointments
        </div>
        <div (click)="navigationService.toAppointmentInsertSchedulesByDoctor(profile?.id!)" *ngIf="roleService.hasRoleDoctor()"
            class="navbar-button">Add Schedules
        </div>
        <div (click)="navigationService.toMedicalTestsPortal()"
            *ngIf="roleService.hasRoleReceptionist() || roleService.hasRolePatient()" class="navbar-button">Medical test
        </div>
        <!-- <div (click)="navigationService.toContact()" class="navbar-button">Contact</div>
        <div class="navbar-button">About</div> -->
        <div class="flex-grow-1"></div>
        <app-avatar class="navbar-avatar z-5"></app-avatar>
    </div>
</div>