<div>
  <p-button label="Show all visits"
            (onClick)="navigationService.toMedicalTestVisitsByDepartment(departmentId)"></p-button>
</div>
<p-table
  [value]="types"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['name']"
  [tableStyle]="{ 'min-width': '100%' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="flex align-items-center">
          Type
          <p-columnFilter type="text" field="value" display="menu"></p-columnFilter>
        </div>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-type>
    <tr>
      <td>
        {{ type.value }}
      </td>
      <td>
        <p-button icon="pi pi-calendar-plus" label="Add schedules"
                  (onClick)="navigationService.toMedicalTestInsertSchedules(departmentId, type.value)"></p-button>
      </td>
      <td>
        <p-button icon="pi pi-plus" label="Create visit"
                  (onClick)="navigationService.toCreateMedicalTestCreateVisit(departmentId, type.value)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
