<div *ngIf="visits" class="flex flex-column w-full h-full">
  <div class="mb-3 flex flex-row align-items-center">
    <p-button class="mx-3" icon="pi pi-chevron-left" styleClass="p-button-raised p-button-text p-button-secondary"
      (onClick)="decrementCurrentDate()"></p-button>
    <p-button icon="pi pi-chevron-right" styleClass="p-button-raised p-button-text p-button-secondary"
      (onClick)="incrementCurrentDate()"></p-button>
    <div class="font-semibold ml-5 text-lg">Week: {{weekBeginning | date:'dd.MM.yyyy'}} - {{weekEnd |
      date:'dd.MM.yyyy'}}</div>
  </div>
  <p-table [value]="visits" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
    <!--    <ng-template pTemplate="caption">-->
    <!--      <p-dropdown class="input" *ngIf="testTypes" [(ngModel)]="selectedTestType" [options]="testTypes"-->
    <!--                  placeholder="Select a test type" [editable]="true" optionLabel="name"></p-dropdown>-->
    <!--      <p-calendar [(ngModel)]="startDate" [showTime]="true"></p-calendar>-->
    <!--      <p-calendar [(ngModel)]="endDate" [showTime]="true"></p-calendar>-->
    <!--      <p-button label="Search" styleClass="p-button-raised"></p-button>-->
    <!--    </ng-template>-->
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Type</th>
        <th style="width:15%">First name</th>
        <th style="width:15%">Last name</th>
        <th style="width:20%">Date</th>
        <th style="width:20%">Status</th>
        <th style="width:10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-visit>
      <tr>
        <td>{{visit.type}}</td>
        <td>{{visit.patient!.firstName}}</td>
        <td>{{visit.patient!.lastName}}</td>
        <td>{{visit.testDateTime | date:'short'}}</td>
        <td>
          <p-tag [value]=" getMessageByTestType(visit.testStatus)" [severity]="getSeverity(visit.testStatus)"></p-tag>
        </td>
        <td style="text-align: center">
          <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text"
            (onClick)="navigationService.toMedicalTestDetailsReceptionist(visit.id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="!visits">
  <app-loading-spinner title="Current operation is ongoing..."></app-loading-spinner>
</div>