<div *ngIf="visits && !isProcessOngoing; else loading" class="flex flex-column w-full h-full">
    <p-table [value]="visits" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20%">Doctor spec.</th>
          <th style="width:15%">First name</th>
          <th style="width:15%">Last name</th>
          <th style="width:23%">Date</th>
          <th style="width:17%">Status</th>
          <th style="width:10%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visit>
        <tr>
          <td>{{visit.doctorRS.specialization}}</td>
          <td>{{visit.patientRS!.firstName}}</td>
          <td>{{visit.patientRS!.lastName}}</td>
          <td>{{visit.appointmentDate | date:'short'}}</td>
          <td>
            <p-tag [value]=" getMessageByTestType(visit.status)" [severity]="getSeverity(visit.status)"></p-tag>
          </td>
          <td class="flex flex-row">
            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text"
              (onClick)="navigationService.toAppointmentDetailsReceptionist(visit.id)"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-rounded p-button-text"
              (onClick)="deleteAppointment(visit.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #loading>
    <app-loading-spinner title="Current operation is ongoing..."></app-loading-spinner>
  </ng-template>