<div *ngIf="!!profile" class="container card flex flex-row">
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="firstname">Firstname</label>
            <input pInputText [(ngModel)]="profile.firstName" disabled id="firstname" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="lastname">Lastname</label>
            <input pInputText [(ngModel)]="profile.lastName" disabled id="lastname" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="pesel">PESEL</label>
            <input pInputText [(ngModel)]="patientData.pesel" id="pesel" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="phoneNumber">Phone number</label>
            <input pInputText [(ngModel)]="patientData.phoneNumber" id="phoneNumber" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="gender">Biological gender</label>
            <p-dropdown class="w-full" [options]="genders" [(ngModel)]="setPatientGender" name="gender" id="gender"
                type="text"></p-dropdown>
        </div>
    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="street">Street</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.street" id="street" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="houseNumber">House number</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.houseNumber" id="houseNumber" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="apartmentNumber">Apartment number</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.apartmentNumber" id="ApartmentNumber" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="city">City</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.city" id="city" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="city">Country</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.country" id="country" type="text" />
        </div>
    </div>
    <div class="card w-4 px-2">
        <div class="field flex flex-column">
            <label for="postalCode">Postal code</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.postalCode" pattern="^[0-9]{2}-[0-9]{3}"
                id="postalCode" />
        </div>
        <div class="field flex flex-column">
            <label for="post">Post</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.post" id="post" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="county">County</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.county" id="county" type="text" />
        </div>
        <div class="field flex flex-column">
            <label for="province">Province</label>
            <input pInputText [(ngModel)]="patientData.addressRQ.province" id="province" type="text" />
        </div>
        <button (click)="submitData()" type="button" class="w-full my-4     " pButton>Submit</button>
    </div>
</div>