/* You can add global styles to this file, and also import other style files */
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.p-avatar, .p-menuitem-link {
  @include styleclass('cursor-pointer transition-colors transition-duration-100 bg-white hover:bg-teal-500 hover:text-50');
}

.p-menuitem-link:hover span {
  @include styleclass('text-50')
}

.p-card {
  min-height: 22.5rem;
}

.p-card .p-card-body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 15rem);
  align-items: stretch;
}

.hour-button {
  @include styleclass('cursor-pointer md:align-self-end my-2 border-round-md border-1 border-teal-500 transition-colors transition-duration-100 bg-white text-900 hover:bg-teal-500 hover:text-white');
}
