<div class="w-full h-full">
    <div class="flex justify-content-center h-5rem w-full mb-auto fixed bg-white">
        <img class="navbar-logo" src="../../../assets/health-check.png" alt="health-check-icon" />
        <div class="navbar-title">Health Check | Management Center</div>
        <div class="flex flex-grow-1"></div>
        <app-avatar class="navbar-avatar mr-3"></app-avatar>
    </div>
    <div class="content-container">
        <div class="content ">
            <!-- <div class="flex w-full"> -->
            <div class="left-container-elem flex flex-column flex-wrap z-5 bg-white">
                <div class="flex w-full h-full flex-column">
                    <div class="element title shadow-3 z-5">Department</div>
                    <div *ngIf="isSuperadmin()" (click)="navigateInSuperpanel(['browse'], {'type': 'department'})"
                        class="element cursor-pointer transition-colors transition-duration-100 hover:bg-teal-500 hover:text-50 z-5">
                        Browse</div>
                    <div *ngIf="isSuperadmin()"
                        (click)="navigateInSuperpanel(['entity-view'], {'mode': 'create','type': 'department'})"
                        class="element cursor-pointer transition-colors transition-duration-100 hover:bg-teal-500 hover:text-50 z-5">
                        Create</div>
                    <div *ngIf="!isSuperadmin()" (click)="navigateInSuperpanel(['browse'], {'type': 'department'})"
                        class="element cursor-pointer transition-colors transition-duration-100 hover:bg-teal-500 hover:text-50 z-5">
                        Show details</div>
                    <div class="element title shadow-3">Users</div>
                    <div (click)="navigateInSuperpanel(['browse'], {'type': 'users', 'user-type': 'Doctor'})"
                        class="element cursor-pointer transition-colors transition-duration-100 hover:bg-teal-500 hover:text-50 z-5">
                        Browse</div>
                    <div (click)="navigateInSuperpanel(['entity-view'], {'mode': 'create','type': 'Doctor'})"
                        class="element cursor-pointer transition-colors transition-duration-100 hover:bg-teal-500 hover:text-50 z-5">
                        Create</div>
                </div>
            </div>
            <div class="right-container-elem h-full flex flex-column bg-bluegray-50 inside-shadow">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>